* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1440px;
  margin: auto;
}

@media screen and (max-width: 1080px) {
  #root {
    max-width: 1080px;
  }
}

@media screen and (max-width: 720px) {
  #root {
    max-width: 720px;
  }
}
